%body

  %header.header
    = render "share/user-field"
    .group-field
      .group-field__name
        = @group.name
      %ul.group-field__member-list__group
      %li.group-field__member-list__text Member：
      - @group.users.each do |user|
        %li.group-field__member-list__member
          = user.name
      = link_to "Edit", edit_group_path(@group), class: "group-field__edit"
  .contents

    = render "share/group-list"

    .right-contents
      %ul.message-list
        - @group.messages.each do |message|
          %li.message-list__message
            %p.message-list__message__user
              = message.user.name
            %p.message-list__message__date
              = message.created_at.strftime("%Y/%m/%d %H:%M")
            %p.message-list__message__text
              = message.body
            = image_tag(message.image) if message.image.present?
      
      = form_for [@group, @message] do |f|
        .send-box
          .send-box__form
            = f.text_field :body, class: 'send-box__form__input-form', placeholder: 'type a message'
            = f.label :image, class: 'send-box__form__upload-label' do
              = fa_icon 'picture-o'
            = f.file_field :image, class: 'hidden send-box__form__file-select'
            = f.submit 'Send', class: 'send-box__form__submit-btn'
